/**
 * Main stylesheet
 */
@import url(links.css);
@import url(webb.css);

/**
 * CSS sprite for a dice with six faces.
 *
 */
 
ul.dice {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.dice li {
  display: inline-block;
  padding: 0;
  margin: 0 4px 0 0;
  width: 32px;
  height: 32px;
  background: url(img/dice-faces.jpg) no-repeat;
}

ul.dice li.dice-1 { background-position: -160px 0px; }
ul.dice li.dice-2 { background-position: -128px 0px; }
ul.dice li.dice-3 { background-position:  -96px 0px; }
ul.dice li.dice-4 { background-position:  -64px 0px; }
ul.dice li.dice-5 { background-position:  -32px 0px; }
ul.dice li.dice-6 { background-position:    0px 0px; }

/**
 * General elements
 */
body {
  color: #333;
  font: 100.01%/1.375 arial, sans-serif;
}

/**
 * Typography
 */
h1 {
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 880px; 
  padding: 10px;
}


/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
  height: 80px;
}


.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #666;
}


/**
 * Layout for navigation bar / menu
 */
#navbar {
  width: 85%;
  margin-bottom: 1em;
  margin-top: 1px;
  margin-left: 1px;
  padding:0.6em;
      background-color: #9F9;
	background-color: #F21100;
	  	border-radius:13px;
border:7px solid #4b8f29;
/*	border:7px solid #ee00ee;*/
}
#navbarFilm {
  width: 85%;
  margin-bottom: 1em;
  margin-top: 1px;
  margin-left: 1px;
  padding: 0.6em;
      background-color: #9F9;
	background-color: #FFFFFF;
	  	border-radius:23px;
	border:7px solid #4b8f29;

}

/**
 * Layout for main
 */
#main {
  min-height: 20em;
}

.readable {
  width: 70%;
  padding-right: 1em;
  border-right: 1px solid #ccc;
}


/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.sitefooter {
  color: #666;
}


/**
 * Byline
 */
.byline {
  border-top: 1px dashed #ccc;
  font-style: italic;


}


/**
 * Figure
 */
figure {

}

figcaption {

}

figure.right {
  float: right;
}


ul.dice {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.dice li {
  display: inline-block;
  padding: 0;
  margin: 0 4px 0 0;
  width: 32px;
  height: 32px;
  background: url(img/dice-faces.jpg) no-repeat;
}

ul.dice li.dice-1 { background-position: -160px 0px; }
ul.dice li.dice-2 { background-position: -128px 0px; }
ul.dice li.dice-3 { background-position:  -96px 0px; }
ul.dice li.dice-4 { background-position:  -64px 0px; }
ul.dice li.dice-5 { background-position:  -32px 0px; }
ul.dice li.dice-6 { background-position:    0px 0px; }



a.LinkButtonx {
  border-style: solid;
  border-width : 3px 3px 3px 3px;
  text-decoration : none;
  background-color: #9F9;
  font-family: Arial;
  color: #000;
  padding : 4px;
  border-color : #99FF00;
  	border-radius:13px;
	border:7px solid #4b8f29; 

	
       box-shadow: 0px 10px 14px -7px #3e7327;

}


a.LinkButton {
  border-style: solid;
  border-width : 3px 3px 3px 3px;
  text-decoration : none;
  background-color: #9F9;
  font-family: Arial;
    font-size: large;
  color: #000;
  padding : 5px;
  margin : 1px;
 
  border-color : #990000;
  	border-radius:33px;
	border:7px solid #4b8f29;  
        box-shadow: 0px 10px 14px -7px #3e7327;
    	box-shadow: -30px 10px 14px -7px #3e7327;
}


/**
 * Style for table
 */
table,
th,
td {
  border: 2px solid #ccc;
}